html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.title{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    letter-spacing: -0.06em;
    color: #000000;
}
.button{
    margin: 16px 0px;
    padding: 11px;
    border: none;
    color: #000000;
    background-color: #E5E5E5;
    display: block;
    text-align: center;
}
.button:focus{
    outline: none;
}
.button:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
}
.v-space-32{
    padding: 16px 0px;
}
.v-space-16{
    padding: 8px 0px;
}

.active{
    background-color: #000000;
    color: white !important;
}
.fixed{
    position: fixed;
}
.stick{
    position:-webkit-sticky;
    position:sticky;
}
.center{
    text-align: center;
}

.p-b{
    padding-bottom: 16px;
}
.p-b-8{
    padding-bottom: 8px;
}



/****************** Sign in page ******************/
.sign-in-page{
    bottom: 0;
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(139, 139, 139, 0.8);
}
.sign-in-right > .logo{
    margin-top: 72px;
    margin-left: 72px;
    position: fixed;
}
.sign-in-form-container{
    width: 250px;
    margin: 72px 0px;
    padding: 32px;
    background-color: #C4C4C4;
}
.sign-in-form-container > form {
    width: 250px;
}
.sign-in-form-container > form > .input-field{
    padding-top: 16px;
    display: grid;
    grid-template-rows: auto auto;
}
.sign-in-form-container > form > .input-field > .input-text {
    margin: 8px 0px;
    width: 218px;
    padding: 0px 16px;
    line-height: 38px;
    border: none;
    background-color: #E5E5E5;
}
.sign-in-form-container > form > .input-field > .input-text:focus {
    outline: none;
}
.forgot-password{
    font-size: 14px;
    color: white;
}
.forgot-password:hover{
    color: #000000;
}
.label{
    color: #000000;
}
.create-new-account{
    font-size: 14px;
    color: #000000;
}
.create-new-account:hover{
    color: white;
}



/****************** Home page ******************/
.app-bar{
    display: grid;
    grid-template-columns: 150px auto 100px;
    align-items: center;
    z-index: 1;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 6px 32px;
}
.logo > img{
    height: 60px;
}
.fliter{
    height: 50px;
    margin: 0px 72px;
    background: #C4C4C4;
    border-radius: 72px;
    padding: 0px 32px;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 32px;
    align-items: center;
}
.user-avator-btn{
    position: relative;
    display: inline-block;
}
.user-avator{
    width: 50px;
    height: 50px;
    background: #5D5D5D;
    border-radius: 72px;
    left: 0;
}
.u-a-btn{
    display: grid;
    justify-content: end;
}
.user-avator-btn:hover .menu-content{
    display: block;
}
.menu-content a:hover{
    background-color: #ddd;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.user-avator:hover{
    cursor: pointer;
}
#manufacturer,#car_state{
    outline: none;
    border: none;
    padding: 3px;
    border-radius: 16px;
    font-size: 12px;
    background-color: #E5E5E5;
    color: #757575;
}
.mn{
    display: grid;
}
.m-label{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.p-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
}
.p-input > input{
    border: none;
    background-color: #E5E5E5;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 16px;
}
.p-input > input:focus{
    outline: none;
}
.car-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-row-gap: 16px;
    padding: 0px 32px;
}
.car-items > .item{
    width: 190px;
    height: 230px;
    position: relative;
}
.car-items > .item > a > img{
    width: 190px;
    height: 230px;
    background: #5D5D5D;
    border-radius: 8px;
}
.c-title{
    font-weight: 900;
    font-size: 36px;
    color: #C4C4C4;
    padding: 0px 32px;
}
.car-items > .item > img:hover{
    cursor: pointer;
}
.car-items > .item:hover .caption{
    display: block;
}
.caption{
    position: absolute;
    width: 174px;
    background: rgba(93, 93, 93, 0.801);
    bottom: 0;
    display: none;
    padding: 8px;
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.price{
    font-weight: bold;
}
.maker{
    font-size: 14px;
    padding: 6px 0px;
}
.state{
    font-size: 14px;
}
.buy{
    width: 50px;
    margin-left: 112px;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    color: #5D5D5D;
    background-color: white;
    right: 0;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
}
.edit{
    width: 50px;
    margin-left: 112px;
    text-align: center;
    padding: 6px 12px;
    font-size: 14px;
    color: #5D5D5D;
    background-color: white;
    right: 0;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
}
.edit:hover{
    background-color: #C4C4C4;
    color: white;
}

/* Modal */
.modal{
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    display: grid;
    align-content: center;
    justify-content: center;
}
.modal:target{
    opacity: 1;
    pointer-events: auto;
}
.modal>div{
    width: 300px;
    position: relative;
    background: white;
    color: #5D5D5D;
}
  
.modal header{
    font-weight: bold;
}
.close-modal{
    color: #5D5D5D;
    background-color: rgba(255, 255, 255, 0.596);
    font-size: 32px;
    padding: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    text-decoration: none;
    z-index: 1;
}
.close-modal:hover{
    color: #5D5D5D;
}

/*  */
.car-images{
    height: 200px;
    background-color: #5D5D5D;
}
.car-desc{
    padding: 0px 16px;
}
.m-maker{
    padding: 4px 0px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 16px;
}


/*  */
.cae-slides {
    display: none;
}
.car-slide > img {
    vertical-align: middle;
    width: 300px;
    height: 200px;
}
.car-images-slider-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {
        opacity: .4;
    } 
    to {
        opacity: 1;
    }
}
@keyframes fade{
    from {
        opacity: .4;
    } 
    to {
        opacity: 1;
    }
}


/* Ads page */
.b-content{
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 32px;
    padding: 0px 32px;
}
.b-content .left-nav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.b-content .left-nav a:hover{
    background-color: #ddd;
}
.post-new{
    width: 100%;
    margin: 16px 0px;
    padding: 11px;
    border: none;
    color: #5D5D5D;
    background-color: #C4C4C4;
    text-align: center;
}
.post-new:focus{
    outline: none;
}
.post-new:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}


/* Orders */
.sub-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.floot-rigt{
    display: grid;
    justify-content: end;
    align-content: flex-end;
    margin-right: 32px;
}
.car-order{
    width: 400px;
    height: 150px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-column-gap: 16px;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.car-img{
    height: 150px;
    width: 150px;
}
.car-img img{
    height: 150px;
    width: 150px;
    background-color: #757575;
}
.order-desc{
    padding: 16px 0px;
}
.order-desc .edit{
    background-color: #757575;
    color: white;
    padding: 6px 18px;
    margin: 0;
    width: 100px;
}
.order-desc .edit:hover{
    background-color: #757575;
    color: black;
}
.edit-btn{
    padding: 6px 16px;
    display: grid;
    justify-items: end;
}
.car-orders{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-row-gap: 32px;
    padding: 0px 32px;
}
.left-nav .fixed{
    width: 170px;
    margin-top: 60px;
}

/* Model */
.update-price{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 16px;
    align-items: center;
}
.update-price > .input-text:focus {
    outline: none;
}
.update-price > .input-text {
    margin: 8px 0px;
    width: 150px;
    padding: 0px 16px;
    line-height: 38px;
    border: none;
    background-color: #E5E5E5;
}



/* Post new car */
.post-container{
    display: grid;
    justify-content: center;
}
.post-form-container{
    width: 250px;
    padding: 32px;
}
.post-form-container > form {
    width: 250px;
}
.post-form-container > form > .input-field{
    padding-top: 16px;
    display: grid;
    grid-template-rows: auto auto;
}
.post-form-container > form > .input-field > .input-text {
    margin: 8px 0px;
    width: 218px;
    padding: 0px 16px;
    line-height: 38px;
    border: none;
    background-color: #E5E5E5;
}
.post-form-container > form > .input-field > .input-text:focus {
    outline: none;
}















/* Media queries */
@media screen and (max-width: 760px) {
    /****************** Sign in page ******************/
    .sign-in-page{
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 72px 0px;
    }

    .sign-in-right > .logo{
        margin-top: 0;
        margin-left: 0;
        position: initial;
    }

    .sign-in-form-container{
        margin: 72px 0px 0px 0px;
    }
}